@import './variables.scss';
html, body {
  overflow-x: hidden;
}
body {
  font-family: $fontfamily;
  font-size: $fontsize;
  display: flex;
  flex-direction: column;
  background-color: $content_backgroundcolor;
  color: $bodyfont_color;
}
.appcontent {
  &__scoreboard {
    position: fixed;
    top: 0;
  }
  &__ballbyball {
    margin-top: 200px;
  }
  margin-bottom: 6vh;
}
.menufooter {
  background-color: $menubar_backgroundcolor;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 5vh;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
}

/* below this is unrefactored */
