body {
  font-family: "Open Sans Light", "Open Sans", "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.selected {
  background-color: darkgray;
}
.batter-row {
  border-top: 1px solid darkgray;
  border-bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  justify-content: flex-end;
}
.batter-row:last-child {
  border-bottom: 1px solid darkgray;
}
.batter-name {
  display: flex;
  width: 192px;
}
.batter-log {
  border-left: 1px solid darkgray;
  display: flex;
  height: 48px;
  padding-left: 8px;
  flex: 1;
}
.batter-ball {
  display: flex;
}
.batter-summary {
  font-size: 12px;
  display: flex;
}
.batter-summary div {
  display: flex;
  height: 50px;
  align-items: center;
}
.batter-summary > div {
  flex-direction: column;
  border-left: 1px solid darkgray;
}
.batter-wicket {
  width: 100px;
}
.batter-wicket-label {
  border-bottom: 1px solid darkgray;
  justify-content: center;
  width: 100px;
}
.batter-fielder {
  width: 100px;
}
.batter-fielder-label {
  border-bottom: 1px solid darkgray;
  justify-content: center;
  width: 100px;
}
.batter-balls {
  width: 50px;
}
.batter-balls-label {
  border-bottom: 1px solid darkgray;
  justify-content: center;
  width: 50px;
}
.batter-runs {
  width: 50px;
}
.batter-runs-label {
  border-bottom: 1px solid darkgray;
  justify-content: center;
  width: 50px;
}
.bowler-log {
  display: flex;
}
.bowler-row {
  border-top: 1px solid darkgray;
  border-bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
}
.bowler-row:last-child {
  border-bottom: 1px solid darkgray;
}
.bowler-name {
  display: flex;
  align-items: center;
  width: 192px;
  height: 116px;
  border-right: 1px solid darkgray;
}
.bowler-over-detail {
  display: flex;
  position: relative;
  width: 72px;
  height: 96px;
  border-right: 1px solid darkgray;
  background-color: white;
  flex-wrap: wrap;
  font-size: 20px;
}
.bowler-over-summary {
  width: 72px;
  height: 18px;
  border-top: 1px solid darkgray;
  border-right: 1px solid darkgray;
  font-size: 16px;
}
.bowler-ball {
  display: flex;
  position: relative;
  height: 32px;
  width: 36px;
}
.bowler-nine-ball-over {
  width: 24px;
}
.bowler-twelve-ball-over {
  width: 24px;
  height: 24px;
}
.bowler-glyph {
  height: 24px;
  width: 24px;
  margin: auto;
}
.hit-no-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  transform: translate(-50%, -50%);
}
.no-ball-run-out {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  transform: translate(-50%, -50%);
}
.bye-run-out {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 9px;
  transform: translate(-50%, 0%);
}
.leg-bye-run-out {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 9px;
  transform: translate(-50%, -90%);
}
.run {
  margin: auto;
}
.bowler-wide-stumped {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  transform: translate(-130%, -120%);
}
.bowler-wide-runout-0 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  transform: translate(-160%, -110%);
}
.bowler-wide-runout-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  transform: translate(50%, -110%);
}
.bowler-wide-runout-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  transform: translate(-160%, 10%);
}
.bowler-wide-runout-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  transform: translate(50%, 10%);
}
.bowler-maiden {
  position: absolute;
  height: 144px;
  width: 96px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.extras-rows {
  display: flex;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}
.extras-rows div {
  display: flex;
  flex: 1;
  height: 50px;
  align-items: center;
}
.extras-rows > div {
  flex-direction: column;
}
.ticker-score-section {
  position: relative;
  width: 100%;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;  
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(24px, 1fr));
}
.ticker-score-section > div {
  font-size: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}
.diag {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 96 96'><line x1='16' y1='80' x2='80' y2='16' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
}
.strike-start {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 96 96'><line x1='24' y1='48' x2='96' y2='48' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
}
.strike {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 96 96'><line x1='0' y1='48' x2='96' y2='48' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
}
.strike-end {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 96 96'><line x1='0' y1='48' x2='72' y2='48' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
}
.overs-summary-row {
  display: flex;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}
.overs-summary-entry {
  display: flex;
  border-right: 1px solid darkgray;
  flex-direction: column;
}
.overs-summary-entry > div {
  width: 64px;
  display: flex;
  justify-content: center;
}
.wickets-summary-row {
  display: flex;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}
.wickets-summary-entry {
  display: flex;
  border-right: 1px solid darkgray;
  flex-direction: column;
}
.wickets-summary-entry > div {
  width: 96px;
  display: flex;
  justify-content: center;
}
.bbb-header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  height: 24px;
}
.bbb-header > .bbb-over {
  width: 48px;
}
.bbb-header > .bbb-ball-number {
  width: 48px;
}
.bbb-header > .bbb-bowler {
  text-align: left;
  width: 128px;
}
.bbb-header > .bbb-summary {
  text-align: left;
  flex-grow: 1;
}
.bbb-header > .bbb-batter {
  text-align: left;
  width: 128px;
}
.bbb-header > .bbb-runs {
  width: 48px;
}
.bbb-header > .bbb-wickets {
  width: 48px;
}
.bbb-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid darkgray;
}
.bbb-balls {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.bbb-balls > .bbb-ball {
  display: flex;
  height: 24px;
  flex-wrap: nowrap;
  align-items: center;
}
.bbb-row > .bbb-over {
  width: 48px;
  align-content: center;
  flex-shrink: 0;
}
.bbb-ball .bbb-ball-number {
  flex-shrink: 0;
  width: 48px;
  font-size: 12px;
}
.bbb-ball .bbb-bowler {
  flex-shrink: 0;
  width: 128px;
  font-size: 12px;
  text-align: left;
}
.bbb-ball .bbb-summary {
  flex-grow: 1;
  font-size: 12px;
  text-align: left;
}
.bbb-ball .bbb-batter {
  flex-shrink: 0;
  width: 128px;
  font-size: 12px;
  text-align: left;
}
.bbb-ball .bbb-runs {
  flex-shrink: 0;
  width: 48px;
}
.bbb-ball .bbb-wickets {
  flex-shrink: 0;
  width: 48px;
}