.ballbyball__header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
.ballbyball__overrow {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
.ballbyball__overnumber {
    
}
.ballbyball__overballs {
    
}
.ballbyball__ballrow {

}