@import './variables.scss';

.ballbyball {
    div {
        padding: $padding_tablecell;
    }
    &__header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        font-weight: bold;
        border-top: 1px solid $hr-color;
        border-bottom: 1px solid $hr-color;
        div {
            width: 2em;
            align-content: center;
            text-align: center;
            background-color: $table_header_backgroundcolor;
        }
    }
    &__overrow {
        display: flex;
        flex-direction: row;
        box-shadow: 0px 1px $hr_color;
        div {
            text-align: center;
        }
    }
    &__overnumber {
        align-content: center;
        background-color: $table_header_backgroundcolor;
        font-weight: bold;
        width: 1em;
        min-width: 1em;
    }
    &__overballs {
        flex-grow: 1;
    }
    &__overball {
        align-content: center;
        font-weight: bold;
        width: 1em;
        min-width: 1em;
    }
    &__ballrow {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $hr-color_light;
        div {
            background-color: $table_cell_backgroundcolor;
        }
        &:last-child {
            border-bottom: 0px;
        }
    }
    &__summary {
        flex-grow: 1;
        text-align: left !important;
    }
    &__player {
        min-width: 6em;
        width: 6em;
    }
    &__score {
        min-width: 6em;
        width: 6em;
    }
}
