@import './variables.scss';
.scorebook {
    &__header {
        margin: 0;
    }
    &__value {
        font-weight: bold;
    }
    &__batter {
        border-top: 1px solid $hr_color;
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 3em;
        &--out {
            border-top: 1px solid $hr_color;
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 3em;
            background-color: $less_important;
        }
        &--in {
            border-top: 1px solid $hr_color;
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 3em;
            background-color: $more_important;
        }
    }
    &__batter:last-child {
        border-bottom: 1px solid $hr_color;
    }
    &__batter--out:last-child {
        border-bottom: 1px solid $hr_color;
    }
    &__batter--in:last-child {
        border-bottom: 1px solid $hr_color;
    }
    &__battersummary {
        display: flex;
        flex-direction: row;
        text-align: center;
        height: 100%;
        > div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .scorebook__label {
            height: 40%
        }
    }
    &__howout {
        width: 8em;
        min-width: 8em;
        font-size: calc(100% - 2pt);
    }
    &__outfielder {
        width: 8em;
        min-width: 8em;
        font-size: calc(100% - 2pt);
    }
    &__ballsfaced {
        width: 4em;
        min-width: 4em;
        font-size: calc(100% - 2pt);
        > .scorebook__value {
            font-size: calc(100% + 4pt);
        }
    }
    &__batterrunsscored {
        width: 4em;
        min-width: 4em;
        font-size: calc(100% - 2pt);
        > .scorebook__value {
            font-size: calc(100% + 4pt);
        }
    }
    &__batternumber, &__bowlernumber {
        width: 2em;
        min-width: 2em;
        text-align: center;
        font-weight: bold;
    }
    &__battername, &__bowlername {
        display: flex;
        width: 8em;
        min-width: 8em;
        height: 3em;
        min-height: 3em;
        align-items: center;
    }
    &__battername {
        border-right: 1px solid $hr_color;
    }
    &__bowler {
        border-top: 1px solid $hr_color;
        display: flex;
        align-items: center;
        flex-direction: row;
        &--in {
            border-top: 1px solid $hr_color;
            display: flex;
            align-items: center;
            flex-direction: row;
            background-color: $more_important;
        }
    }
    &__bowler:nth-last-child(2) {
        border-bottom: 1px solid $hr_color;
    }
    &__bowler--in:nth-last-child(2) {
        border-bottom: 1px solid $hr_color;
    }
    &__batterlog {
        display: flex;
        padding-left: 0.5em;
        height: 3em;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &__batterball {
        display: flex;
        height: 33%;
        &--fullheight {
            display: flex;
            height: 100%;
            font-size: calc(100% + 8pt);
        }
    }
    &__bowlerball {
        width: 1.5em;
        height: 1.33em;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        &--nine {
            display: flex;
            width: 1em;
            height: 1.33em;
            position: relative;
            align-items: center;
        }
        &--twelve {
            display: flex;
            width: 1em;
            height: 1em;
            position: relative;
            align-items: center;
        }
    }
    &__logentry {
        margin: auto;
    }
    &__bowlerlog {
        display: flex;
    }
    &__bowlerover {
        display: flex;
        width: 3em;
        height: 5em;
        border-left: 1px solid $hr_color;
        flex-wrap: wrap;
        &--endofspell {
            display: flex;
            width: 3em;
            height: 5em;
            border-left: 1px solid $hr_color;
            flex-wrap: wrap;
            border-right: 3px solid $hr_color !important;
            margin-right: -3px;
        }
    }
    &__bowlerover:last-child {
        border-right: 1px solid $hr_color;
    }
    &__glyph {
        height: 1em;
        width: 1em;
        display: flex;
        &--batterout {
            height: 1.5em;
            width: 1.5em;
            margin: auto;
        }
    }
    &__bowleroversummary {
        width: 100%;
        height: 1em;
        border-top: 1px solid $hr_color;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -1px;
    }
    &__noball {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: calc(100% - 8pt);
        letter-spacing: -0.1em;
    }
    &__legbye {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: calc(100% - 8pt);
        letter-spacing: -0.1em;
    }
    &__bye {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: calc(100% - 8pt);
        letter-spacing: -0.1em;
    }
    &__wide {
        &--stumped {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: calc(100% - 9pt);
            transform: translate(-130%, -120%);
        }
        &--runout0 {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: calc(100% - 9pt);
            transform: translate(-160%, -110%);
        }
        &--runout1 {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: calc(100% - 9pt);
            transform: translate(50%, -110%);
        }
        &--runout2 {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: calc(100% - 9pt);
            transform: translate(-160%, 10%);
        }
        &--runout3 {
            position: absolute;
            top: 50%;
            left: 50%;    
            font-size: calc(100% - 9pt);
            transform: translate(70%, 10%);
        }
    }
    &__extrasummary {
        display: flex;
        border-top: 1px solid $hr_color;
        border-bottom: 1px solid $hr_color;
        justify-content: space-around;
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__ticker {
        position: relative;
        width: 100%;
        border-top: 1px solid $hr_color;
        border-bottom: 1px solid $hr_color;  
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(1.1em, 1fr));
        > div {
            font-size: calc(100% - 8pt);
            text-align: center;
        }
    }
    &__oversummary {
        display: flex;
        border-top: 1px solid $hr_color;
        border-bottom: 1px solid $hr_color;
    }
    &__oversummaryentry {
        display: flex;
        border-right: 1px solid darkgray;
        flex-direction: column;
        min-width: 2em;
        align-items: center;
    }
    &__wicketsummary {
        display: flex;
        border-top: 1px solid $hr_color;
        border-bottom: 1px solid $hr_color;
    }
    &__wicketsummaryentry {
        display: flex;
        border-right: 1px solid darkgray;
        flex-direction: column;
        min-width: 3em;
        align-items: center;
    }
}
  .bowler-maiden {
    position: absolute;
    height: 144px;
    width: 96px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .diag {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 96 96'><line x1='16' y1='80' x2='80' y2='16' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
  }
  .strike-start {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 96 96'><line x1='24' y1='48' x2='96' y2='48' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
  }
  .strike {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 96 96'><line x1='0' y1='48' x2='96' y2='48' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
  }
  .strike-end {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 96 96'><line x1='0' y1='48' x2='72' y2='48' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
  }