$fontfamily: "Open Sans Light", "Open Sans", "Ubuntu", sans-serif;
$fontsize: 16pt;
$padding_tablecell: 0.1em;

$content_backgroundcolor: white;
$menubar_backgroundcolor: rgb(222, 251, 222);
$bodyfont_color: rgb(1, 51, 23);
$hr_color: darkgreen;
$hr_color_light: lightgreen;
$less_important: rgb(233, 233, 233);
$more_important: rgb(232, 250, 232);
$table_header_backgroundcolor: rgb(222, 251, 222);
$table_cell_backgroundcolor: rgb(247, 255, 247);